# Ignorar pasta com dependências do Node.js
node_modules/

# Ignorar arquivo de variáveis de ambiente local
.env

# Ignorar arquivos e pastas específicas do editor Visual Studio Code
.vscode/

# Ignorar arquivos de versão sem comentários
Versao-sem-comentarios

# Ignorar arquivos gerados pelo npm ou yarn
package-lock.json
yarn.lock